@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/Bitter.ttf');
	font-display: swap;
}

html, body { @apply h-full overflow-hidden; }