@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root [data-theme='crimson'] {
    --theme-font-family-base: 'Bitter', serif;
    --theme-font-family-heading: 'Bitter', serif;
}
:root [data-theme='vintage'] {
    --theme-font-family-base: 'Bitter', serif;
    --theme-font-family-heading: 'Bitter', serif;
}

html, body { @apply h-full overflow-hidden; }